<center>
	<h1>Medical Search</h1>

	<%= form_tag("/text_mining/search", :method=>"post") do %>
	<%= text_field_tag(:search_text, '' ,size: 70, :autocomplete => :off) %>
	<%= submit_tag("Search", :class=>"btn") %>
	<% end %>
</center>
<div id="all"  >
	<div id="resultsframe">
		<h2>Results</h2>
		
		<p>Used Keywords: <%= @used_keywords.to_s %></p>

		<table>
			<thead>
				<tr>
					<th class="page">Page</th>
					<th class="score">Score</th>
				</tr>
			</thead>
			<tbody>
				<%unless @results.blank? then %>
					<% @results.all.each do | hit | %>
					<tr>
						<% base_link = 'http://de.wikipedia.org/wiki?curid=' %>
						<% link = base_link << "#{hit.page.page_id}" %>
						<td>
						<%= link_to(hit.page.page_title, link, {:target=> "page_display"}) %>
						</td>
						<td>
						<%= hit.score %>
						</td>
					</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	<div id="wikiframe">
		<iframe name="page_display" src="http://www.wikipedia.org"></iframe>
	</div>
</div>

