<center>
	
	<h1>Medizinische Suche</h1>
	
	<%= form_tag("/text_mining/search", :method=>"post") do %>
	<%= text_field_tag(:search_text, '' ,size: 70, :placeholder => @text) %>
	<%= submit_tag("Suche", :class=>"btn") %>
	<% end %>
	
</center>

<div id="all">
	
	<h2>Ergebnisse</h2>	
	<p>Schlüsselwörter: <%= @used_keywords %></p>
	<p><mark class="dimension_highlight" >Dimensionswörter:</mark> <%= @dimensionwords %></p>
	
	<div id="results-frame">
		
		<table id="results-table">
			<thead>
				<tr>
					<th class="page">Seite</th>
					<th class="score">Relevanz</th>
				</tr>
			</thead>
			<tbody>
				<%unless @results.blank? then %>
					<% @results.all.each do | hit | %>
					<tr>
						<% base_link = 'http://de.wikipedia.org/wiki?curid=' %>
						<% link = base_link << "#{hit.page.page_id}" %>
						<td>
						<% c = hit.contains_dimensionword ? "dimension_highlight" : nil %>
						<%= link_to(hit.page.page_title, link, {:class => c, :target=> "page_display"}) %>
						</td>
						<td>
						<%= hit.score.round(3) %>
						</td>
					</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		
	</div>
	
	<div id="wiki-frame">
		<% if @wikipedia_invisible %>
		<% 	c = ".invisible" %>
		<% end %>
		<iframe name="page_display" class=<%=c%> src="http://www.wikipedia.org"></iframe>
	</div>
</div>

